@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html {
  scroll-behavior: smooth !important;
}

li {
  margin-left: 10px;
  list-style-type: circle;
}

/* nav stylings */
.nav-link {
  position: relative;
  text-decoration: none;
  color: inherit;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #29166f;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* li.react-multi-carousel-item {
  list-style-type: none;
}

li.react-multi-carousel-item.react-multi-carousel-item--active {
  width: auto !important
} */